[submodule "modules/display"]
	path = modules/display
	url = https://github.com/SergK/puppet-display
[submodule "modules/glusterfs"]
	path = modules/glusterfs
	url = https://github.com/SergK/puppet-glusterfs
[submodule "modules/sshuserconfig"]
	path = modules/sshuserconfig
	url = https://github.com/SergK/puppet-sshuserconfig
[submodule "modules/znc"]
	path = modules/znc
	url = https://github.com/SergK/puppet-znc
[submodule "modules/yum"]
	path = modules/yum
	url = https://github.com/mescanef/puppet-yum
[submodule "modules/bacula"]
	path = modules/bacula
	url = https://github.com/monester/puppet-bacula
[submodule "modules/libvirt"]
	path = modules/libvirt
	url = https://github.com/pjbrzozowski/puppet-libvirt
[submodule "modules/bind"]
	path = modules/bind
	url = https://github.com/teran/puppet-bind
[submodule "modules/rssh"]
	path = modules/rssh
	url = https://github.com/teran/puppet-rssh
[submodule "modules/supervisord"]
	path = modules/supervisord
	url = https://github.com/ajcrowe/puppet-supervisord.git
[submodule "modules/zypprepo"]
	path = modules/zypprepo
	url = https://github.com/deadpoint/puppet-zypprepo.git
[submodule "modules/elasticsearch"]
	path = modules/elasticsearch
	url = https://github.com/elastic/puppet-elasticsearch
[submodule "modules/logstash"]
	path = modules/logstash
	url = https://github.com/elastic/puppet-logstash.git
[submodule "modules/logstashforwarder"]
	path = modules/logstashforwarder
	url = https://github.com/elastic/puppet-logstashforwarder.git
[submodule "modules/atop"]
	path = modules/atop
	url = https://github.com/gnubila-france/puppet-atop.git
[submodule "modules/gnupg"]
	path = modules/gnupg
	url = https://github.com/n1tr0g/golja-gnupg.git
[submodule "modules/kibana4"]
	path = modules/kibana4
	url = https://github.com/lesaux/puppet-kibana4.git
[submodule "modules/openvpn"]
	path = modules/openvpn
	url = https://github.com/luxflux/puppet-openvpn.git
[submodule "modules/rvm"]
	path = modules/rvm
	url = https://github.com/maestrodev/puppet-rvm.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "modules/java"]
	path = modules/java
	url = https://github.com/puppetlabs/puppetlabs-java.git
[submodule "modules/java_ks"]
	path = modules/java_ks
	url = https://github.com/puppetlabs/puppetlabs-java_ks.git
[submodule "modules/mongodb"]
	path = modules/mongodb
	url = https://github.com/puppetlabs/puppetlabs-mongodb.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = https://github.com/voxpupuli/puppet-nodejs.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "modules/rsync"]
	path = modules/rsync
	url = https://github.com/puppetlabs/puppetlabs-rsync.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "modules/datacat"]
	path = modules/datacat
	url = https://github.com/richardc/puppet-datacat.git
[submodule "modules/module_data"]
	path = modules/module_data
	url = https://github.com/ripienaar/puppet-module-data.git
[submodule "modules/logrotate"]
	path = modules/logrotate
	url = https://github.com/rodjek/puppet-logrotate.git
[submodule "modules/sudo"]
	path = modules/sudo
	url = https://github.com/saz/puppet-sudo.git
[submodule "modules/php"]
	path = modules/php
	url = https://github.com/thias/puppet-php.git
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = https://github.com/thias/puppet-sysctl.git
[submodule "modules/augeasproviders_grub"]
	path = modules/augeasproviders_grub
	url = https://github.com/hercules-team/augeasproviders_grub.git
[submodule "modules/augeasproviders_core"]
	path = modules/augeasproviders_core
	url = https://github.com/hercules-team/augeasproviders_core.git
[submodule "modules/apparmor"]
	path = modules/apparmor
	url = https://github.com/teran/puppet-apparmor.git
[submodule "modules/openstackci"]
	path = modules/openstackci
	url = https://github.com/fuel-infra/puppet-openstackci.git
[submodule "modules/file_concat"]
	path = modules/file_concat
	url = https://github.com/electrical/puppet-lib-file_concat.git
[submodule "modules/selinux"]
	path = modules/selinux
	url = https://github.com/jfryman/puppet-selinux.git
[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/teran/puppet-nginx.git
[submodule "modules/filebeat"]
	path = modules/filebeat
	url = https://github.com/fuel-infra/puppet-filebeat.git
[submodule "modules/memcached"]
	path = modules/memcached
	url = https://github.com/fuel-infra/puppet-memcached.git
[submodule "modules/docker"]
	path = modules/docker
	url = https://github.com/garethr/garethr-docker.git
[submodule "modules/zuul"]
	path = modules/zuul
	url = https://review.fuel-infra.org/fuel-infra/puppet-zuul.git
[submodule "modules/nodepool"]
	path = modules/nodepool
	url = https://review.fuel-infra.org/fuel-infra/puppet-nodepool.git
[submodule "modules/project_config"]
	path = modules/project_config
	url = https://github.com/openstack-infra/puppet-project_config.git
[submodule "modules/os_client_config"]
	path = modules/os_client_config
	url = https://review.fuel-infra.org/fuel-infra/puppet-os_client_config.git
[submodule "modules/gearman"]
	path = modules/gearman
	url = https://github.com/saz/puppet-gearman
[submodule "modules/reboot"]
	path = modules/reboot
	url = https://github.com/puppetlabs/puppetlabs-reboot.git
[submodule "modules/zookeeper"]
	path = modules/zookeeper
	url = https://github.com/deric/puppet-zookeeper
