[submodule "modules/display"]
	path = modules/display
	url = https://review.fuel-infra.org/fuel-infra/puppet-display.git
[submodule "modules/glusterfs"]
	path = modules/glusterfs
	url = https://review.fuel-infra.org/fuel-infra/puppet-glusterfs.git
[submodule "modules/sshuserconfig"]
	path = modules/sshuserconfig
	url = https://review.fuel-infra.org/fuel-infra/puppet-sshuserconfig.git
[submodule "modules/znc"]
	path = modules/znc
	url = https://review.fuel-infra.org/fuel-infra/puppet-znc.git
[submodule "modules/yum"]
	path = modules/yum
	url = https://review.fuel-infra.org/fuel-infra/puppet-yum.git
[submodule "modules/bacula"]
	path = modules/bacula
	url = https://review.fuel-infra.org/fuel-infra/puppet-bacula.git
[submodule "modules/libvirt"]
	path = modules/libvirt
	url = https://review.fuel-infra.org/fuel-infra/puppet-libvirt.git
[submodule "modules/bind"]
	path = modules/bind
	url = https://review.fuel-infra.org/fuel-infra/puppet-bind.git
[submodule "modules/rssh"]
	path = modules/rssh
	url = https://review.fuel-infra.org/fuel-infra/puppet-rssh.git
[submodule "modules/supervisord"]
	path = modules/supervisord
	url = https://review.fuel-infra.org/fuel-infra/puppet-supervisord.git
[submodule "modules/zypprepo"]
	path = modules/zypprepo
	url = https://review.fuel-infra.org/fuel-infra/puppet-zypprepo.git
[submodule "modules/elasticsearch"]
	path = modules/elasticsearch
	url = https://review.fuel-infra.org/fuel-infra/puppet-elasticsearch.git
[submodule "modules/logstash"]
	path = modules/logstash
	url = https://review.fuel-infra.org/fuel-infra/puppet-logstash.git
[submodule "modules/logstashforwarder"]
	path = modules/logstashforwarder
	url = https://review.fuel-infra.org/fuel-infra/puppet-logstashforwarder.git
[submodule "modules/atop"]
	path = modules/atop
	url = https://review.fuel-infra.org/fuel-infra/puppet-atop.git
[submodule "modules/gnupg"]
	path = modules/gnupg
	url = https://review.fuel-infra.org/fuel-infra/puppet-gnupg.git
[submodule "modules/kibana4"]
	path = modules/kibana4
	url = https://review.fuel-infra.org/fuel-infra/puppet-kibana4.git
[submodule "modules/openvpn"]
	path = modules/openvpn
	url = https://review.fuel-infra.org/fuel-infra/puppet-openvpn.git
[submodule "modules/rvm"]
	path = modules/rvm
	url = https://review.fuel-infra.org/fuel-infra/puppet-rvm.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/fuel-infra/puppetlabs-apt.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/fuel-infra/puppetlabs-concat.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/fuel-infra/puppetlabs-firewall.git
[submodule "modules/java"]
	path = modules/java
	url = https://review.fuel-infra.org/fuel-infra/puppetlabs-java.git
[submodule "modules/java_ks"]
	path = modules/java_ks
	url = https://review.fuel-infra.org/fuel-infra/puppetlabs-java_ks.git
[submodule "modules/mongodb"]
	path = modules/mongodb
	url = https://github.com/fuel-infra/puppetlabs-mongodb.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/fuel-infra/puppetlabs-mysql.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = https://review.fuel-infra.org/fuel-infra/puppet-nodejs
[submodule "modules/ntp"]
	path = modules/ntp
	url = https://github.com/fuel-infra/puppetlabs-ntp.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/fuel-infra/puppetlabs-postgresql.git
[submodule "modules/rsync"]
	path = modules/rsync
	url = https://github.com/fuel-infra/puppetlabs-rsync.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/fuel-infra/puppetlabs-stdlib.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/fuel-infra/puppetlabs-vcsrepo.git
[submodule "modules/datacat"]
	path = modules/datacat
	url = https://review.fuel-infra.org/fuel-infra/puppet-datacat.git
[submodule "modules/module_data"]
	path = modules/module_data
	url = https://review.fuel-infra.org/fuel-infra/puppet-module-data.git
[submodule "modules/logrotate"]
	path = modules/logrotate
	url = https://review.fuel-infra.org/fuel-infra/puppet-logrotate.git
[submodule "modules/sudo"]
	path = modules/sudo
	url = https://review.fuel-infra.org/fuel-infra/puppet-sudo.git
[submodule "modules/php"]
	path = modules/php
	url = https://review.fuel-infra.org/fuel-infra/puppet-php.git
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = https://review.fuel-infra.org/fuel-infra/puppet-sysctl.git
[submodule "modules/augeasproviders_grub"]
	path = modules/augeasproviders_grub
	url = https://review.fuel-infra.org/fuel-infra/puppet-augeasproviders_grub.git
[submodule "modules/augeasproviders_core"]
	path = modules/augeasproviders_core
	url = https://review.fuel-infra.org/fuel-infra/puppet-augeasproviders_core.git
[submodule "modules/apparmor"]
	path = modules/apparmor
	url = https://review.fuel-infra.org/fuel-infra/puppet-apparmor.git
[submodule "modules/openstackci"]
	path = modules/openstackci
	url = https://github.com/fuel-infra/puppet-openstackci.git
[submodule "modules/file_concat"]
	path = modules/file_concat
	url = https://review.fuel-infra.org/fuel-infra/puppet-lib-file_concat.git
[submodule "modules/selinux"]
	path = modules/selinux
	url = https://review.fuel-infra.org/fuel-infra/puppet-selinux.git
[submodule "modules/nginx"]
	path = modules/nginx
	url = https://review.fuel-infra.org/fuel-infra/puppet-nginx.git
[submodule "modules/filebeat"]
	path = modules/filebeat
	url = https://github.com/fuel-infra/puppet-filebeat.git
[submodule "modules/memcached"]
	path = modules/memcached
	url = https://github.com/fuel-infra/puppet-memcached.git
[submodule "modules/docker"]
	path = modules/docker
	url = https://review.fuel-infra.org/fuel-infra/puppet-garethr-docker.git
[submodule "modules/zuul"]
	path = modules/zuul
	url = https://review.fuel-infra.org/fuel-infra/puppet-zuul.git
[submodule "modules/nodepool"]
	path = modules/nodepool
	url = https://review.fuel-infra.org/fuel-infra/puppet-nodepool.git
[submodule "modules/project_config"]
	path = modules/project_config
	url = https://review.fuel-infra.org/fuel-infra/puppet-project_config.git
[submodule "modules/os_client_config"]
	path = modules/os_client_config
	url = https://review.fuel-infra.org/fuel-infra/puppet-os_client_config.git
[submodule "modules/gearman"]
	path = modules/gearman
	url = https://review.fuel-infra.org/fuel-infra/puppet-gearman.git
[submodule "modules/reboot"]
	path = modules/reboot
	url = https://review.fuel-infra.org/fuel-infra/puppetlabs-reboot.git
[submodule "modules/zookeeper"]
	path = modules/zookeeper
	url = https://github.com/fuel-infra/puppet-zookeeper.git
