# image:ci-xenial-server-cloudimg-amd64
---
classes:
  - '::registry'
  - '::fuel_project::apps::firewall'
  - '::fuel_project::common'
  - '::fuel_project::nginx'

# root CA
#-----BEGIN CERTIFICATE-----
#MIIDXTCCAkWgAwIBAgIJAP0b9P+sal2JMA0GCSqGSIb3DQEBCwUAMEUxCzAJBgNV
#BAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBX
#aWRnaXRzIFB0eSBMdGQwHhcNMTUxMTEzMDkwMjI5WhcNMTgwOTAyMDkwMjI5WjBF
#MQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50
#ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
#CgKCAQEA2mYtjhzGtyioSCvwmZQ7T5bp7ndZfa59TqgL/UZSet8ZTF+TfslQjNZ0
#oaqDs856/aj0kuu6xA0ue4PjcNCuHhaxYDjJOU7rkd/RQd602Z4MqoUDIgCBUQT/
#74F4GBT2O9UiAh6UYp/O/AXM0igcLd89mVUijCjxje7lfvSowKT1+/838X5RuzUn
#jT9xMcc81cKUmYJ/tjJ6TZznhZ5aQdHVIVjKTsePdAyWf6Qdm+nI5NLhVchAYEWu
#XacAK18xtOl9mTbrLWVHyEUmocL9YvHRBaM9vktrrD9PmODkiiBg2FTK7z/bWZxj
#jNrmIy5DiLTQ6RYn1ilJW81WLL4ODwIDAQABo1AwTjAdBgNVHQ4EFgQUaJriSQLB
#GzI5kqZuZ7W0TRBUiwMwHwYDVR0jBBgwFoAUaJriSQLBGzI5kqZuZ7W0TRBUiwMw
#DAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAffxFNqiB2cCEqhRwG/Wk
#cEcz94yZKyyERhPy8kX8Op3Woeu+IOP92pxgQhG49E7RD+ggIzgrf/ttFMhWmS2a
#qQaJDvdjpH+Er+r4Qn2y+ESXvk2ENNMjFyJC4nW+j3nJJnUTl7eXOgVjAKiK41xP
#LKeT9/OA8qp3/Kp8hNXbroUH3+ldAbNUdxDtszleWeabzO7ayc+FfO8A1d8OCUa+
#2XmF1WLpnOWezt5Nhej9WYl5sW2w2sl47b9GiRd/zUd3xQBlWER76OQhvmxR343R
#EeZZZclYDv7iDWTTR2pMAMBNqnmrmBxSW8eihf+nX6nFPjFbNWETShT5eWm3EWA0
#EQ==
#-----END CERTIFICATE-----

registry::ssl_certificate_global_content: |
  -----BEGIN CERTIFICATE-----
  MIIDJDCCAgwCCQDohwnnHTSTFTANBgkqhkiG9w0BAQsFADBFMQswCQYDVQQGEwJB
  VTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
  cyBQdHkgTHRkMB4XDTE1MTExMzA5MDQwOFoXDTE3MDMyNzA5MDQwOFowYzELMAkG
  A1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0
  IFdpZGdpdHMgUHR5IEx0ZDEcMBoGA1UEAwwTcmVnaXN0cnkudGVzdC5sb2NhbDCC
  ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAN6+FmTQgHbyrXnH4K8NeRWe
  HJpeUDq+JcposQ62rFMD/XDR5uay/1FGXsO50Q1p4ccly/FlVGgjSpHk4bRG+ibc
  +D0pZOkLKDGWwE8Ma61kALdU5govCxnAtlAZLPxgepvmfXywZI62DoeeXNZ6AqHa
  +GVKdekhfpcxSQvQQvcElzu08M4NrRbD0WZvjMl2a3+CZ4A+7ULuopWtb8TLv4jX
  nR+COifSXElbpIQLuhXqZaQ2fs6EGGAzNisBK20KhHlpT0c7+Oh8IpExAY4aaAZ7
  99zXqzUm9fwk/HNtN4GC3F6twaqcUr5VOpn2KvyOjm7ePz3rY8lIx5BATPMlUhEC
  AwEAATANBgkqhkiG9w0BAQsFAAOCAQEAydPRLREYS9l4G7gml3FsvOeyetSoMQYZ
  SjA0ZyUqpZDdr8LDjB8dF+tPZLrU9o2PFkiv+XIoBvh0T7Y5Yw3+qKmJreVe8D3f
  vuxDdzzYOo6EX83DAC7pL9ds/QbMcq/CebMZDRvuCM6nOeYTQ/iVC3/TMQ7GoMg1
  Ogt0M27QXrFV7WfoyzMdF+uRjlH7zC5gwGzB3o5lbpVs0fwUglOE1iyxXT6jG/RO
  K0Rnbds0zhFMmDPNDDy9tZ22cW3MhArBj0jPEekHDrc4QYTkZgbcs4R4bx4uieKi
  r2VpjTv0bctoZFEr6r3bl0ra6RdcT67NBOWuqq3fn7Nfe9H4gxWxyQ==
  -----END CERTIFICATE-----

registry::ssl_key_global_content: |
  -----BEGIN RSA PRIVATE KEY-----
  MIIEpAIBAAKCAQEA3r4WZNCAdvKtecfgrw15FZ4cml5QOr4lymixDrasUwP9cNHm
  5rL/UUZew7nRDWnhxyXL8WVUaCNKkeThtEb6Jtz4PSlk6QsoMZbATwxrrWQAt1Tm
  Ci8LGcC2UBks/GB6m+Z9fLBkjrYOh55c1noCodr4ZUp16SF+lzFJC9BC9wSXO7Tw
  zg2tFsPRZm+MyXZrf4JngD7tQu6ila1vxMu/iNedH4I6J9JcSVukhAu6FeplpDZ+
  zoQYYDM2KwErbQqEeWlPRzv46HwikTEBjhpoBnv33NerNSb1/CT8c203gYLcXq3B
  qpxSvlU6mfYq/I6Obt4/PetjyUjHkEBM8yVSEQIDAQABAoIBAGKFueoFv4zdcpX3
  Lw6+6twA/63YIayaBqUtAYP8kOR3U1bfwT4x1nTgp3HzcuB4AQHRWhAAPgGB+q3l
  i1/uNR+Thcmn0Zay9Khagd11JPugzCBLUSUYAdT2RK3RNPC8y/7BSKgqbZAiPvMF
  vRKxDREChfRnpxfjVNcTWbf7+mK/tccjZrIo5+uA8SOZppPzMzJ11sV2pgfaBV7d
  KILVVZ/m+1gLCDoO7R13IubS6J5c1hJRPsJpBFTYdB+Q9dY2u8OKHdNVwKfifPfa
  g2EqtEjyPEznAnlV3IUe0ziUGGl5YS9EqCv+bSSgQC/4hNdIPBThWP8BjyXeeREu
  le/JtHECgYEA9HI4TEVqx/hUSMHRPQPq3xRjBCGVKLDCZbFaBYpHA13BhN9SMlyo
  lQPdM0f29sc3riHMV1apdugnPDRElORB96uNRKwmyV0je4fwXlC4M8Hmz22icCjk
  SQjJQubCPz6kCH27QxYUQQyChAz6wBGWSuOgtGAz1JEIbp+K4sh9vl8CgYEA6UVB
  UN7VLeuGWRdCM0ASWykpaNnvSraOm2nnCyJE7yGdJhJHjfK8EP2/J4eN98D2Jfpi
  X4gtFx6z+S+92OrOHSg9UHc7TSrhopmPPhJo+Uc+vfj7O4oVwtxwLMjnJ549gqkw
  LUGi3ufbpKOVdm9/4co2UdAqPZa7N4+sjlGD5Y8CgYEA6pDQRSA3nzxEZKzXw90G
  fJpriYNQRoOXh03wPHC8RBarpH1Hutv/ST8z/AmKirQQUiBMnWKjq16Kh9MAHIAM
  bUVJgiRP89pUOi3wEhETMVdXzKQ/w7D5nru3pWMZ8uaBMUS1dWKyfNksRNrPo488
  0RAtHelS0x95H+4osAYD47ECgYBRDdNoOkVws0n3YvGJxVWbf234FOHk4BIlRmMV
  p060mMV2GRvr4tAeR01Iev2FfPMKtzm/YB3qzqxShZg96zi7QOQtNYDRi3jjeuAe
  /V6kX3EZqY4CXjS5hMcliJlpVr6gzBEFaK0jLwVO69hfUtboqc6+FsrWo61h3PZk
  bUabWQKBgQDNV0qDs0yonJyCGxDcPrbvaz4xTUhFlmnIp22JiHOQLrA7ryZSlhE7
  XZ0xuIrT164XWIEsF2dcz9UMXSTpJnVXH0ydUF+IvlCUD+Fl+oXlJGSq6HLF08a+
  Vd7HVflyET4iKVH5q+vLP+ED7LwpKaVC4WCtRmdno0l0tZUqMvKMzw==
  -----END RSA PRIVATE KEY-----

registry::ssl_certificate_token_content: |
  -----BEGIN CERTIFICATE-----
  MIIDmTCCAoGgAwIBAgIJAJGc54yYKZs8MA0GCSqGSIb3DQEBCwUAMGMxCzAJBgNV
  BAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRlcm5ldCBX
  aWRnaXRzIFB0eSBMdGQxHDAaBgNVBAMME3JlZ2lzdHJ5LnRlc3QubG9jYWwwHhcN
  MTUwODIwMDgxMDMwWhcNMTYwODE5MDgxMDMwWjBjMQswCQYDVQQGEwJBVTETMBEG
  A1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkg
  THRkMRwwGgYDVQQDDBNyZWdpc3RyeS50ZXN0LmxvY2FsMIIBIjANBgkqhkiG9w0B
  AQEFAAOCAQ8AMIIBCgKCAQEApY41bO7rbYG0TGKlMQVCd7NEQ/HSn1mZjtQyWdUy
  orh7RpSN6g7Q5c9diLmv2+dzbJzNldL9/r5hiA5zz/7qnWUNU9+9Kl6JRq7RWUoy
  aMoqtOjx+qUQSuYV966ZbIygcQb2iT20gVogGQTb0qx72mXj7YVD1WDgkl2MpUyt
  8R9b7SfulBodK4mO3G+N5Ym2Ebo/EkaBhUPo9ErHFbKu1gQNq+tvDfVi2Aqwtiue
  5FHezU1v6BsFgp+/W4Ojw+69WUt1TZhI5sqlhPLGZDpEgFBJnBz03p2gZJ70HPWZ
  SwUMtmhct7qH4wT8khGtPrmHDFB7f+l84YBHrHMBSNM09wIDAQABo1AwTjAdBgNV
  HQ4EFgQUQLMQy8btaVq/Zjpn2qZ4/5H6VFcwHwYDVR0jBBgwFoAUQLMQy8btaVq/
  Zjpn2qZ4/5H6VFcwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAK3Ms
  cJh0eSYNYZ6CnIFWwfuECdpeqhyK/JfnpILQ8lXhxGDxKmjELyy7NFcB+z+cLOju
  42X4VG1XERNS2kk+SaD25nybUi6dm57kMwe6e43kaxrFxu8BGVOMmseyJV5VgM60
  nMkSOCGOOi13WuZZ5E3/dmEVqRmEZr5HZdhGftXZO6MASpteTSnwrSlFJq9FTyhH
  NaY5XIlgajAtAsO2PvZ/nK8CQaR4NELXP2g+iGydlvgkpz3ZZw1ZGNuScLW5tk3y
  LACfM+QTWd1JlWInSAcpJ/5oyeiPghF+RyewE7Q5ohAPi1dJBTOHFBaGc7guSJvn
  hBrtuTHuW16PtQHgeQ==
  -----END CERTIFICATE-----

registry::ssl_key_token_content: |
  -----BEGIN PRIVATE KEY-----
  MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCljjVs7uttgbRM
  YqUxBUJ3s0RD8dKfWZmO1DJZ1TKiuHtGlI3qDtDlz12Iua/b53NsnM2V0v3+vmGI
  DnPP/uqdZQ1T370qXolGrtFZSjJoyiq06PH6pRBK5hX3rplsjKBxBvaJPbSBWiAZ
  BNvSrHvaZePthUPVYOCSXYylTK3xH1vtJ+6UGh0riY7cb43libYRuj8SRoGFQ+j0
  SscVsq7WBA2r628N9WLYCrC2K57kUd7NTW/oGwWCn79bg6PD7r1ZS3VNmEjmyqWE
  8sZkOkSAUEmcHPTenaBknvQc9ZlLBQy2aFy3uofjBPySEa0+uYcMUHt/6XzhgEes
  cwFI0zT3AgMBAAECggEABa0didGbQtLqop/TOB4NDFuaIJY++XWx/SKrY0cbCFc4
  6s+XGgpOAUMd2t06+VgzLesmZVepm71dTLPqJpx/4MuhLFoEe1pobIL77IrNtagQ
  1MkT2tsj9t1yrV5QJlef/KAXfdcexDyZ0yHGg6+kQ3Ww3ejuzXcX3AzXEKfTYuv5
  NSD4MxFomkA64+IcCI49IXsXFshk3oL0LiWhaWgHWzA0RyhLwndyXyVMiCl99uVP
  ZAN7U965mv+AtsaChg/1K87AR7e6+ZxfmKuTAoJCU4xcgMVUntC1nXigDok+9IAa
  Pfx4k5JoaFz7wjyxui1qWtKaPnq5d4JhtSdBTIrwGQKBgQDSOzMk2Ul2XYm3omag
  kGAOFW+bdvRdYrnUA54ycQDLELhXN7mOypIBNMe72q+oU8Y5BmPgJS5iGIXORWK6
  BluCsRZJwJsG8Hv5X4NEPNk21TSJeCdUNcyEzNPUVInQ/oZrsP908w27CwjpU6oW
  Wh9vsngZbyy1oAGvwwO+BcmFywKBgQDJmRlvm2pELizTrpXA8DCkQf3JGqOj+Yt7
  68v2Kbbt/+fbcJj96XljZKNDh75BfHZsjCOgeBEKqpK9cdEDprv9RpQtbyN1iI2m
  5obmhDOAE2O/jkZb8XdlZhe9GfXPKdp8U17Qv+RJR+7YblFDZasBkDHPbbUms8iC
  UXToXnfIBQKBgQCST+cxTxREj6boKdt5BeIEC0EolqpNUAd6maYA/wqJSTKyaLL4
  wNzKgBw+Dl3QLbW4PE1IUzgrx1tgioPCaehIVczoOWbrdnUhwiqOVDbsZYfx4LCm
  d+bFyfPnQ4rC7FFLI902XG4C7hQepz6p3cEhMLlLIkeghCKIW5YAKvDs7wKBgCry
  zPJz/72qwK4QQaMrCJHV5UVUwYwLe+XYpEk7Ndeab0DWyiE9/jholkeqwaOd6nTR
  nj1vluHY2Q43Ezpd6SraQHM1fC5r+xGVhyPRAk/E0blbjC3GUZNunpwQzcdmuT9H
  W6nJV88s3fuJ9RIQtM/Ocm4ohzFJl+v7gpaGmaopAoGBAIGV5cMTHADemhoPPGsC
  EkkuUTgT14WteC+s/ks0k3j/Ya3LxodukZ++gLlp+XDC8dU1U6+34zXFapAzs5AY
  FrGQnprUJC2djN9JPlOxa/X2Bl4OEJUkTWALFY5uLXQyKA8fH2nkxiypXnil41Rd
  IMjK3YBsHDrVQ9xjRF5NhF5Z
  -----END PRIVATE KEY-----

registry::service_fqdn: "registry.test.local"

registry::oauth_client_id: 'EXAMPLE.apps.googleusercontent.com'
registry::oauth_client_secret: 'EXAMPLESECRET'
registry::oauth_domain: 'example.com'

# admin: Aa7quaew
# index: index
# jenkins: bu7ORe6o
registry::static_users:
  'admin': '$2y$05$ab6e4vb/.rR8R0nip0oro.VMrgq29Rl32WCEDE/fgHemeA22jARnq'
  'index': '$2y$05$SAHQikfd8Ku6WYf9Ok4Fz.m7MUVHWHIunEctOcahhpwWpl4rgyNx2'
  'jenkins': '$2y$05$XaoxJINyRxHkrmRkV9NVjuLBSLJ5EGwG16bpusObEDi8eD4pegCsy'

registry::acls:
  # Admin has full access to everything.
  'account: "admin"': '*'
  # Jenkins has full access to everything.
  'account: "jenkins"': '*'
  # Index has full access to everything.
  'account: "index", name: "catalog"': '*'
  # All logged in users can pull all images.
  'account: "/.+/"': 'pull'
  # Anynoymous users can pull all images.
  'account: ""': 'pull'
  # Access is denied by default.

# firewall configuration
fuel_project::apps::firewall::rules:
  '1000 - allow connections to public Registry services':
    source: 0.0.0.0/0
    dport:
      - 443
      - 5001
      - 5002
    proto: tcp
    action: accept
  '1000 - allow connections to SSH':
    source: '0.0.0.0/0'
    dport: 22
    proto: tcp
    action: accept
  '1000 - zabbix agent connections from Zabbix proxy':
    source: '10.108.0.0/24'
    dport: 10050
    proto: 'tcp'
    action: 'accept'
