Source: config-puppet-manifests
Build-Depends: debhelper, puppet (>= 3.4), puppet-lint, ruby-rgen (>= 0.6.1)
Section: extra
Priority: optional
Maintainer: Igor Shishkin <ishishkin@mirantis.com>

Package: config-puppet-manifests
Replaces: puppet, puppet-common
Section: extra
Priority: optional
Architecture: any
Depends: coreutils, findutils, puppet (>= 3.4), puppet-module-puppetlabs-apt, puppet-module-puppetlabs-firewall, puppet-module-puppetlabs-mysql, puppet-module-puppetlabs-ntp
Description: Puppet manifests
 .
