Source: config-puppet-manifests
Build-Depends: debhelper
Section: extra
Priority: optional
Maintainer: Igor Shishkin <ishishkin@mirantis.com>

Package: config-puppet-manifests
Replaces: puppet, puppet-common
Section: extra
Priority: optional
Architecture: any
Depends: coreutils, findutils, puppet, puppet-module-puppetlabs-firewall
Description: Puppet manifests
 .
