---
firewall:
  known_networks:
    - 127.0.0.0/8
  external_hosts:
    - 127.0.0.1/32
  internal_networks:
    - 127.0.0.1/32
gerrit:
  mysql_host: 127.0.0.1
  mysql_password: gerrit
  ssl_chain_file: ''
  ssl_chain_file_contents: ''

jenkins:
  swarm_server: 'http://jenkins-master'
  swarm_user: 'jenkins'
  swarm_password: 'jenkins'
  swarm_labels: 'swarm'
  ssh_keys:
    'jenkins@myhost':
      type: ssh-rsa
      key: ''
puppet:
  master: 'puppet-master.host.com'
system:
  root_email: 'host@host.com'
  root_password_hash: 'HASH'
  timezone: UTC
